<hr />
<div class="main-select-group">
    <select name="select" class="city form-select main-select-group__item">
        <option selected>Выберите подразделение</option>
    </select>
    <select name="select" class="company form-select main-select-group__item" disabled>
        <option selected>Выберите салон</option>
    </select>
    <div class="ui-widget">
        
    </div>
</div>
<hr />

<from class="main-form" action="/add" method="POST">

</from>
