<%- include('includes/head.inc.ejs'); %>

<body>
    <div class="main">
        <div class="main-btn-group mb-2">
            <div class="panel-top btn-group d-flex flex-md-row flex-column" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-dark btnCheck" for="btnradio1" disabled><span class="spinner-grow spinner-grow-sm me-2 checkboxLoader" role="status" aria-hidden="true"></span>Чек-лист</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-dark btnCheck" for="btnradio2" disabled><span class="spinner-grow spinner-grow-sm me-2 checkboxLoader" role="status" aria-hidden="true"></span>Результаты</label>
                
            </div>
        </div>

        <hr />
        <div class="main-select-group container-fluid">
            <div class="row main-select-group-row w-100">
                <div class="col-md-4 col-12 my-1 cityDiv">
                    <select name="select" class="city form-select main-select-group__item">
                        <option selected>Выберите подразделение</option>
                    </select>
                </div>
                <div class="col-md-4 col-12 my-1 companyDiv">
                    <select name="select" class="company form-select main-select-group__item " disabled>
                        <option selected>Выберите салон</option>
                    </select>
                </div>


                <div class="col-md-4 col-12 my-1 col-ui-widget">
                    <div class="main-autocomplete ui-widget">
                        <input type="text" class="form-control search" placeholder="Введите ФИО менеджера"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                    </div>
                </div>

            </div>
        </div>
        <hr />

        <div class="main-form">

        </div>

    </div>

    <%- include('includes/bottom.inc.ejs'); %>