<%- include('includes/head.inc.ejs'); %>

<body>
    <div class="main">
        <div class="main-btn-group mb-2">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-dark" for="btnradio1">Чек-лист</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-dark" for="btnradio2">Результаты</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-dark" for="btnradio3">Панель администратора</label>
            </div>
        </div>

        <hr />
        <div class="main-select-group container-fluid">
            <div class="row main-select-group-row w-100">
                <div class="col">
                    <select name="select" class="city form-select main-select-group__item">
                        <option selected>Выберите подразделение</option>
                    </select>
                </div>
                <div class="col">
                    <select name="select" class="company form-select main-select-group__item " disabled>
                        <option selected>Выберите салон</option>
                    </select>
                </div>

                
                    <div class="col col-ui-widget">
                        <div class="main-autocomplete ui-widget">
                            <input type="text" class="form-control search" placeholder="Введите ФИО менеджера"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly></div>
                    </div>
            
            </div>
        </div>
        <hr />

        <div class="second-form">
            
        </div>
        <div class="second">
        
        </div>
        <div class="main-form">

        </div>
        
    </div>

    <%- include('includes/bottom.inc.ejs'); %>