body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: whitesmoke !important;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20vw;
  height: auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  &-select-group {
    display: flex;
    width: 100%;
  }
  &-autocomplete {
    width: 100%;
  }
}

.quizData {
  width: 100%;
}

.quizValue,
.quizNewData,
.companyValue,
.workerValue,
.workerNewData,
.companyNewData,
.addNewCity,
.cityNewData,
.cityValue {
  min-width: 850px;
  max-width: 900px;
}

.add-data-city,
.add-data-company,
.create-quiz,
.add-data-worker {
  width: 101.6px;
}

.widthpx20 {
  width: 20px;
  display: inline-block;
}
.marginpx9 {
  margin-left: 9px;
}

.seperateHr {
  height: 1px;
  color: #e32636;
}

.main-select-group {
  display: flex;
  justify-content: center;
}
