body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: whitesmoke !important;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20vw;
  height: auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  &-select-group {
    display: flex;
    width: 100%;
  }
  &-autocomplete {
    width: 100%;
  }
}

.quizData {
  width: 100%;
}
@media (min-width: 890px) {
  .watcherNameForCreation,
  .watcherName,
  .checkClass,
  .addNewCity,
  .cityNewData,
  .cityValue {
    min-width: 800px;
    max-width: 850px;
  }
}

.widthpx20 {
  min-width: 30px;
  display: inline-block;
}
.marginpx9 {
  margin-left: 9px;
}

.seperateHr {
  height: 1px;
  color: #e32636;
}

.main-select-group {
  display: flex;
  justify-content: center;
}

.checkAlert {
  cursor: pointer;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

.reason {
  width: 100%;
}

.quiz-hr {
  width: 100%;
}

// .cityId {
//   min-width: 30px;
// }

.btn-city-group {
  min-width: 151px;
}
